
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Basic Template">
    <meta name="author" content="Yoel Monzon">

    <title>Styde | VueJS</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="vue.js"></script>

    <style>
      .favorite: {
        color: red;
      }
    </style>

  </head>

  <body>
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Frases Celebres sobre Vue!</h1>

      <form @submit.prevent="createNote" class="form">
        <input type="text" v-model="new_note.author" class="form-control" placeholder="autor">
        <br>
        <textarea v-model="new_note.text" cols="30" rows="3" class="form-control" placeholder="frase"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Agregar Nota</button>
      </form>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
      <hr>
      <ol>
        <li v-for="note in notes">
          <note :note="note"></note>
        </li>
      </ol>
    </div>
  
    <script type="text/template" id="note">
      <p :class="{'text-primary': note.favorite == true}">
        {{ note.text }} por <strong>{{ note.author }}</strong>
        <button type="button" @click="setFavorite" class="btn btn-xs btn-warning">{{ note.favorite ? 'Unfav' : 'Fav' }}</button>
      </p>
    </script>

    <script type="text/javascript">

      Vue.component('note', {
        template: '#note',
        props: {
          note: {type: Object, required: true, default: {}}
        },
        methods: {
          setFavorite: function () {
            this.note.favorite = !this.note.favorite;
          }
        }
      });

      new Vue({
        el: 'body',
        data: {
          notes: [
            {
              text: 'v-for es la directiva  que utilizamos para iterar una lista',
              author: 'Sileence',
              favorite: false
            },
            {
              text: '@click se utiliza como un alias de v-on:click',
              author: 'Sileence',
              favorite: false
            },
            {
              text: 'Con Vue puedes crear tus propios componentes',
              author: 'Sileence',
              favorite: false
            },
            {
              text: 'El curso de Vue.js en Styde es genial',
              author: 'Sileence',
              favorite: false
            },
            {
              text: 'Registrate hoy en Styde.net',
              author: 'Sileence',
              favorite: false
            }
          ],
          new_note: {text: '', author: '', favorite: false}
        },
        methods: {
          createNote: function () {
            this.notes.push(this.new_note)

            this.new_note = {text: '', author: '', favorite: false}
          }
        }
      })
    </script>
  </body>
</html>
